<div id='js-flash' class='flash'>
  <%= render 'shared/flash' %>
</div>
<div class='display__full-page-center bg-gradient'>
  <div class='box'>
    <div class='box__header'>
      <span class='logo logo--large'></span>
    </div>
    <div class='form'>
      <div id='js-login-form'>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
