<div id='js-flash'></div>
<div class='display__full-page-center bg-gradient'>
  <div class='form form--global'>
    <div class='display__text-center'>
      <span class='logo logo--large'></span>
    </div>
    <div id='js-login-form'>
      <%= render 'form' %>
    </div>
  </div>
</div>
