<h1><%= t('text.search_results', query: params[:query]) %></h1>
<h2><%= t('label.playlists') %></h2>

<%= list_grid_tag do %>
  <%= render partial: 'playlists/playlist', collection: @playlists, cached: true %>
<% end %>
