<h1><%= t("label.search_results_for", query: params[:query]) %></h1>
<h2><%= t("label.playlists") %></h2>

<div class='o-grid o-grid--list'>
  <%= render partial: "playlists/playlist", collection: @playlists %>
</div>
