.layout {
  height: 100vh;
}

.layout__main {
  width: 75%;
  overflow-y: auto;
}

.layout__sidebar {
  background: var(--layout-sidebar-bg-color);
  width: 25%;
  display: flex;
  flex-direction: column;
}

.layout__main__header {
  position: sticky;
  top: 0;
  background: var(--layout-header-bg-color);
  z-index: 10;
  border-bottom: 1px solid var(--layout-header-border-color);
}

.layout__main__content {
  margin: 25px 60px 35px;
}

.layout__nav-bar {
  padding-top: 15px;
  max-width: 350px;
  margin: auto;
}

.layout__search-bar {
  padding: 20px 0;
  max-width: 350px;
  margin: auto;
}
