.layout {
  display: flex;
}

.layout__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.layout__sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--layout-sidebar-bg-color);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}

.layout__sidebar.show {
  z-index: 100;
  visibility: visible;
  height: 100%;
  opacity: 1;
}

.layout__main__header {
  position: sticky;
  top: 0;
  background: var(--layout-header-bg-color);
  z-index: 10;
  border-bottom: 1px solid var(--layout-header-border-color);
}

.layout__main__content {
  height: 100%;
  margin: 25px 60px 35px;
}

.layout__main__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.layout__nav-bar {
  padding-top: 15px;
  max-width: 350px;
  margin: auto;
}

.layout__search-bar {
  padding: 20px;
}

.layout__search-bar .input {
  width: 350px;
}

.layout__sidebar .input {
  background: var(--layout-sidebar-input-bg-color);
}

.layout__sidebar .input input {
  background: var(--layout-sidebar-input-bg-color);
}
