.playlist {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.playlist__nav {
  padding: 20px 20px 0;
  border-bottom: 1px solid var(--playlist-nav-border-color);
  z-index: 10;
  background: var(--playlist-bg-color);
}

.playlist__container {
  overflow-y: auto;
  height: 100%;
}

.playlist__content {
  margin: 20px;
}

.playlist .overlay {
  background: var(--playlist-bg-color);
}

.playlist .heading {
  background: var(--playlist-heading-bg-color);
  border-radius: var(--playlist-heading-border-radius);
  padding: 12px 6px 12px 8px;
}
