.player {
  box-shadow: -3px -2px 4px var(--box-shadow-color);
  z-index: 100;
}

.player__control {
  padding: 28px 20px;
}

.player__control__minor {
  color: var(--player-color);
}

.player__control__main {
  margin: 0 25px;
}

.player__timer {
  margin: 8px 0 0;
}

.player__timer__item {
  margin-right: 10px;
}

.player__timer__item--main {
  color: var(--player-timer-color);
}

.player__progress {
  display: flex;
  align-items: center;
  height: 4px;
}

.player__progress progress {
  height: 2px;
  border: 0 none;
  background: var(--player-progress-bg-color);
}

.player__progress progress::-moz-progress-bar {
  background: var(--player-progress-color);
}

.player__progress progress::-webkit-progress-bar {
  background: transparent;
}

.player__progress progress::-webkit-progress-value {
  background: var(--player-progress-color);
}

.player__progress:hover progress {
  height: 4px;
  background: var(--player-progress-hover-bg-color);
}

.player__header {
  visibility: hidden;
  max-height: 0;
}

.player__header--show {
  transition: max-height 0.4s ease-in-out;
  max-height: 200px;
  overflow: auto;
  visibility: visible;
}

.player__favorite {
  color: var(--player-favorite-color);
}

.player .heading {
  padding: 25px 20px;
}

.player .heading__body__text {
  color: var(--player-color);
}
