<li class='list__item pointer-cursor' data-playlist-id='<%= playlist.id %>'>
  <span class='list__item__content'>
    <span class='list__item__info list__item__info--main'>
      <%= playlist.name %>
    </span>
  </span>
</li>
