<% page_title_tag t("label.edit_playlist") %>

<%= form_with model: @playlist, class: "c-form", data: {turbo_frame: "_top", turbo_action: ("replace" if native_app?), test_id: "playlist_edit_form"} do |form| %>
  <div class='c-form__field'>
    <%= form.label :name, t("label.name") %>
    <%= form.text_field :name, class: "c-input" %>
  </div>

  <div class='c-form__field c-form__field--submit'>
    <%= form.submit t("label.save"), class: "c-button c-button--primary c-button--full-width" %>
  </div>
<% end %>
