/log/*
/tmp/*
/tmp/pids/*
!/log/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
/storage/*
/node_modules
/public/packs/
/public/packs-test/
/test
/screenshots
/coverage
/.github
/config/master.key
/.direnv
/.gems
/.pg_data
/docs

yarn-error.log
Dockerfile
docker-compose.pwd.yml
docker-compose.yml
CHANGELOG.md
README.md
Procfile.dev
shell.nix

*.swp
.DS_Store
.git
.gitignore
.rubocop.yml
.eslintrc.js
.stylelintrc
.travis.yml
.envrc
.node-version
.ruby-version
.dockerignore
