/log/*
/tmp/*
/tmp/pids/*
!/log/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
/storage/*
/node_modules
/public/packs/
/public/packs-test/
/public/uploads/
/test
/images
/config/nginx/nginx.conf
/docker

yarn-error.log
base.Dockerfile
web.Dockerfile
Dockerfile
docker-compose.development.yml
docker-compose.test.yml
docker-compose.yml
.DS_Store
*.swp
.git
.gitignore
.rubocop.yml
.eslintrc.js
.stylelintrc
.travis.yml
Makefile
