<% if albums.present? %>
  <h1 class='u-mb-medium'><%= title %></h1>
  <div class='o-grid o-grid--gap-medium u-mb-large' cols@narrow='2' cols@extra-small='3' cols@small='2' cols@medium='3' cols@large='4' cols@extra-large='5' cols@wide='6' cols@extra-wide='7'>
    <%= render partial: 'artists/album', collection: albums, cached: true %>
  </div>
<% end %>
