<div class='o-grid__item c-card u-mb-medium'>
  <%= link_to artist_path(artist), class: "c-card__image" do %>
    <%= cover_image_tag artist, class: "u-image-fluid" %>
  <% end %>
  <div class='c-card__body'>
    <p class='c-card__body__text u-text-weight-bold u-text-line-clamp-2'><%= link_to artist.name, artist_path(artist) %></p>
  </div>
</div>
