<%= form_with model: artist, class: 'c-form' do |form| %>
  <div class='c-form__field'>
    <%= form.label :image, t('text.artist_cover') %>
    <%= form.file_field :image, accept: 'image/png, image/jpeg', class: 'c-input' %>
  </div>
  <div class='c-form__field c-form__field--submit'>
    <%= form.submit t('label.save'), class: 'c-button c-button--primary c-button--full-width' %>
  </div>
<% end %>
