<% cache artist do %>
  <div class='o-flex o-flex--column o-flex--justify-center o-flex--align-center'>
    <div class='c-card'>
      <%= image_tag image_url_for(artist), class: 'c-card__image u-border-circle' %>
    </div>
    <h1 class='u-mt-narrow'><%= artist.title %></h1>
  </div>
<% end %>
