<% cache artist do %>
  <div class='u-text-align-center'>
    <%= image_tag image_url_for(artist), class: 'u-border-circle u-image-medium' %>
    <h1 class='u-mt-narrow'><%= artist.title %></h1>
  </div>
<% end %>
