<% if @artists.empty? %>
  <%= empty_alert_tag has_icon: true %>
<% else %>
  <div data-controller='infinite-scroll' data-infinite-scroll-next-url='<%= pagy_next_url(@pagy) %>'>
    <div class='cards' id='js-artists-content'>
      <%= render partial: 'artist', collection: @artists, cached: true %>
    </div>
    <div data-target='infinite-scroll.trigger' class='display__justify-align-center'>
      <% if @pagy.next %>
        <%= loader_tag %>
      <% end %>
    </div>
  </div>
<% end %>
