<div data-controller='infinite-scroll' data-infinite-scroll-container='.layout__main' data-infinite-scroll-next-url='<%= pagy_next_url(@pagy) %>'>
  <div class='cards' id='js-artists-content'>
    <%= render 'artists' %>
  </div>
  <div data-target='infinite-scroll.trigger'>
    <% if @pagy.next %>
      <%= loader_tag %>
    <% end %>
  </div>
</div>
