@use "../tools/functions" as *;

h1 {
  font-size: font-size("wide");
  margin-bottom: spacing("wide");
}

h2,
h3 {
  font-size: font-size("large");
  margin-bottom: spacing("medium");
}

h4,
h5,
h6 {
  font-size: font-size("medium");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary-color);
}

p {
  font-size: font-size("medium");
  color: var(--text-secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

a:hover {
  text-decoration: underline;
}

a.is-active {
  color: var(--link-active-color);
}

hr {
  border: 0;
  margin: spacing("large") 0;
  border-top: 1px solid var(--hr-color);
}
