h1,
h2,
h3 {
  font-size: var(--font-size-large);
  color: rgb(var(--text-primary-color));
}

h4,
h5,
h6 {
  font-size: var(--font-size-medium);
  color: rgb(var(--text-primary-color));
}

p {
  font-size: var(--font-size-medium);
  color: rgb(var(--text-secondary-color));
}
