:root {
  /* Fonts */
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;

  --sans-serif-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;
  --monospace-fonts: 'Menlo', 'Monaco', 'Consolas', "Courier New", monospace;

  /* Border radius */
  --border-radius-md: 4px;
  --border-radius-sm: 2px;
  --border-radius-lg: 8px;
  --border-radius-round: 50%;

  /* Button */
  --btn-border-radius: var(--border-radius-md);

  /* Form */
  --form-input-border-radius: var(--border-radius-md);

  /* Flash message */
  --flash-border-radius: var(--border-radius-md);

  /* Input */
  --input-border-radius: var(--border-radius-md);

  /* Dropdown */
  --dropdown-border-radius: var(--border-radius-md);

  /* Dialog */
  --dialog-border-radius: var(--border-radius-md);
  --dialog-title-font-size: var(--font-size-lg);

  /* Image */
  --image-border-radius: var(--border-radius-md);

  /* Heading */
  --heading-text-main-font-size: var(--font-size-lg);

  /* Avatar */
  --avatar-border-radius: var(--border-radius-round);

  /* Box */
  --box-border-radius: var(--border-radius-lg);

  /* Notice */
  --notice-text-main-font-size: var(--font-size-lg);

  /* Playlist page */
  --playlist-heading-border-radius: var(--border-radius-md);
}
