<% cache @user do %>
  <div class='display__small-width'>
    <h1><%= t('text.update_profile') %></h1>
    <div class='line'></div>
    <div id='js-user-form'>
      <%= render 'form' %>
    </div>
  </div>
<% end %>
