<div class='o-container o-container--extra-narrow'>
  <h1><%= t('text.create_user') %></h1>
  <hr />
  <div id='js-user-form'>
    <%= render partial: 'users/form', locals: { user: @user } %>
  </div>
</div>
