@use "tools/responsive";

@mixin sizing($responsive-postfix) {
  .u-vw-100#{$responsive-postfix} {
    width: 100vw !important;
  }

  .u-vh-100#{$responsive-postfix} {
    height: 100vh !important;
  }

  .u-w-100#{$responsive-postfix} {
    width: 100% !important;
  }

  .u-h-100#{$responsive-postfix} {
    height: 100% !important;
  }

  .u-h-0#{$responsive-postfix} {
    height: 0 !important;
  }

  .u-w-0#{$responsive-postfix} {
    width: 0 !important;
  }

  .u-w-15#{$responsive-postfix} {
    width: 15% !important;
  }

  .u-w-25#{$responsive-postfix} {
    width: 25% !important;
  }

  .u-w-50#{$responsive-postfix} {
    width: 50% !important;
  }

  .u-w-75#{$responsive-postfix} {
    width: 75% !important;
  }
}

@include responsive.media-query using ($breakpoint){
  @include sizing($breakpoint);
}
