@layer utilities {
  .u-border-shadow {
    box-shadow: 0 8px 16px -4px rgb(from var(--color-navy) r g b / 0.25), 0 0 1px rgb(from var(--color-navy) r g b / 0.31);
  }

  .u-border-none {
    border: none;
  }

  .u-border-radius-small {
    border-radius: var(--border-radius-small);
  }

  .u-border-radius-medium {
    border-radius: var(--border-radius-medium);
  }

  .u-border-radius-large {
    border-radius: var(--border-radius-large);
  }
}
