.u-image-large {
  width: 180px;
  height: 180px;
}

.u-image-medium {
  width: 150px;
  height: 150px;
}

.u-image-small {
  width: 100px;
  height: 100px;
}

.u-image-fluid {
  max-width: 100%;
  height: auto;
}
