.u-position-relative {
  position: relative !important;
}

.u-position-sticky-top {
  position: sticky !important;
  top: 0;
}

.u-position-fixed-bottom {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
}
