<details class='c-dropdown u-ml-auto' data-controller='dropdown bridge--account'>
  <summary><%= avatar_tag current_user %></summary>
  <div class='c-dropdown__menu' data-dropdown-target="menu">
    <%= link_to t("label.settings"), settings_path, class: "c-dropdown__item", data: { "bridge--account-target": "menuItem", bridge_id: :settings } %>
    <%= button_to t("button.logout"), my_session_path, method: :delete, form_class: "c-dropdown__item", data: { "bridge--account-target": "menuItem", bridge_id: :logout } %>
    <%= dialog_link_to t("label.about"), about_path, class: "c-dropdown__item" %>
  </div>
</details>
