<section id='js-dialog' class='dialog hidden' data-controller='dialog'>
  <header class='dialog__header display__space-between'>
    <h2 class='dialog__title'><%= t('text.add_to_playlist') %></h2>
    <span class='pointer-cursor' data-action='click->dialog#hide'>
      <%= icon_tag 'close', title: t('label.close') %>
    </span>
  </header>
  <div class='dialog__content position-relative'>
    <div id='js-dialog-content'>
    </div>
    <div id='js-dialog-loader' class='overlay hidden' data-controller='loader'>
      <%= loader_tag size: 'small' %>
    </div>
  </div>
</section>
