<section id='js-dialog' class='c-dialog o-container o-container--extra-narrow hidden' data-controller='dialog'>
  <header class='c-dialog__header o-flex o-flex--justify-between'>
    <h2><%= t('text.add_to_playlist') %></h2>
    <span class='pointer-cursor' data-action='click->dialog#hide'>
      <%= icon_tag 'close', title: t('label.close') %>
    </span>
  </header>
  <div class='c-dialog__content u-position-relative' id='js-dialog-loader' data-controller='loader'>
    <div id='js-dialog-content' data-target='loader.content'>
    </div>
    <div class='overlay hidden' data-target='loader.indicator'>
      <%= loader_tag size: 'small' %>
    </div>
  </div>
</section>
