<section id='js-dialog' class='c-dialog o-container o-container--extra-narrow u-display-none' data-controller='dialog'>
  <header class='c-dialog__header o-flex o-flex--justify-between'>
    <h2 data-dialog-target='title'></h2>
    <span class='u-cursor-pointer' data-action='click->dialog#hide'>
      <%= icon_tag 'close', title: t('label.close') %>
    </span>
  </header>
  <div class='c-dialog__content u-position-relative'>
    <div id='js-dialog-content'>
    </div>
  </div>
</section>
