<div class='c-overlay'>
  <div class='u-text-align-center'>
    <% if has_icon %>
      <div class='u-mb-narrow'>
        <%= icon_tag 'music-off', large: 'large' %>
      </div>
    <% end %>
    <p><%= t('text.no_items') %></p>
  </div>
</div>
