<div class='overlay'>
  <div class='notice'>
    <% if has_icon %>
      <div class='notice__text'>
        <%= icon_tag 'music-off', large: 'large' %>
      </div>
    <% end %>
    <div class='notice__text'><%= t('text.no_items') %></div>
  </div>
</div>
