<% if has_overlay %><div class='c-overlay'><% end %>
  <div class='u-text-align-center'>
    <% if has_icon %>
      <div class='u-mb-narrow'>
        <%= icon_tag "music-off", large: "large" %>
      </div>
    <% end %>
    <p><%= t("label.no_items") %></p>
  </div>
<% if has_overlay %></div><% end %>
