<div class='display__full-page-center'>
  <div class='form form--global'>
    <div class='display__text-center'>
      <span class='logo logo--large'></span>
    </div>
    <%= yield %>
  </div>
</div>
