<nav class='nav-bar'>
  <ul class='tab'>
    <li class='tab__item tab__item--active'>
      <a href='#'><%= t('label.albums') %></a>
    </li>
    <li class='tab__item'>
      <a href='#'><%= t('label.artist') %></a>
    </li>
    <li class='tab__item'>
      <a href='#'><%= t('label.songs') %></a>
    </li>
    <li class='tab__item'>
      <a href='#'><%= t('label.settings') %></a>
    </li>
  </ul>
</nav>
