<nav class='u-mt-medium'>
  <ul class='c-tab'>
    <li class='c-tab__item <%= "is-active" if current_controller == "home" %>'>
      <%= link_to t("label.home"), root_path %>
    </li>
    <li class='c-tab__item <%= "is-active" if current_controller == "libraries" %>'>
      <%= link_to t("label.library"), library_path %>
    </li>
  </ul>
</nav>
