<nav>
  <ul class='c-tab'>
    <li class='c-tab__item <%= "is-active" if current_page?(root_path) %>'>
      <%= link_to t("label.home"), root_path %>
    </li>
    <li class='c-tab__item <%= "is-active" if library_pages? %>'>
      <%= link_to t("label.library"), albums_path %>
    </li>
  </ul>
</nav>
