<div class='playlist display__full-height'>
  <div class='playlist__nav' id='js-playlist-nav'>
    <%= render partial: 'playlist/tab', locals: { active_path: playlist_path('current') } %>
  </div>
  <div class='playlist__content display__full-height' id='js-playlist-content'>
    <%= render partial: 'playlist/list', locals: { playlist: Current.user.current_playlist } %>
  </div>
</div>
