<div id='js-playlist' class='playlist display__full-height' data-controller='playlist-tab'>
  <div class='playlist__nav'>
    <ul class='tab' data-action='click->playlist-tab#toggle'>
      <% playlist_tab_items.each do |tab_item| %>
        <li class='tab__item'>
          <%= link_to tab_item[:title], tab_item[:path], remote: true, data: { target: 'playlist-tab.item', show_spinner: true } %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='playlist__content display__full-height'>
    <div class='display__full-height' id='js-playlist-content' data-target='playlist-tab.content'>
    </div>
    <div class='hidden display__justify-align-center display__full-height' data-target='playlist-tab.spinner'>
      <%= spinner_tag %>
    </div>
  </div>
</div>
