<div id='js-playlist' class='playlist u-h-100 o-flex' data-controller='ajax' data-ajax-loader='#js-playlist-loader'>
  <div id='js-playlist-nav' class='c-nav'>
    <%= render 'playlists/nav' %>
  </div>
  <div class='position-relative o-flex__item o-flex__item--grow-1 u-h-0 u-overflow-auto' id='js-playlist-loader' data-controller='loader'>
    <div class='playlist__content' id='js-playlist-content' data-target='loader.content'></div>
    <div class='overlay hidden' data-target='loader.indicator'>
      <%= loader_tag %>
    </div>
  </div>
</div>
