<div id='js-playlist' class='playlist display__full-height' data-controller='ajax' data-ajax-loader='#js-playlist-loader'>
  <div id='js-playlist-nav' class='playlist__nav'>
    <%= render 'playlists/nav' %>
  </div>
  <div class='display__full-height noscroll position-relative'>
    <div class='playlist__container'>
      <div class='playlist__content' id='js-playlist-content'></div>
    </div>
    <div id='js-playlist-loader' class='overlay hidden' data-controller='loader'>
      <%= loader_tag %>
    </div>
  </div>
</div>
