<div id='js-playlist' class='playlist display__full-height' data-controller='ajax' data-ajax-loader='#js-playlist-loader'>
  <div id='js-playlist-nav' class='playlist__nav'>
    <%= render 'playlist/nav' %>
  </div>
  <div class='playlist__container display__full-height'>
    <div class='display__full-height position-relative'>
      <div class='playlist__content display__full-height' id='js-playlist-content'>
      </div>
      <div id='js-playlist-loader' class='overlay display__justify-align-center hidden' data-controller='loader'>
        <%= loader_tag %>
      </div>
    </div>
  </div>
  <%= render 'playlist/dialog' %>
</div>
