<div class='o-flex o-flex--align-center'>
  <div class='o-flex__item o-flex__item--grow-1 o-flex__item--basic-0'>
  </div>

  <%= render partial: "shared/search_input", locals: { query: query } %>

  <div class='o-flex o-flex--align-center o-flex__item o-flex__item--grow-1 o-flex__item--basic-0'>
    <%= render partial: "shared/account_menu", locals: { current_user: current_user, current_session: current_session } %>
  </div>
</div>
