/* Base on Raster grid subsystem (rsms.me/raster) */

@use "settings/variables";
@use "tools/responsive";

@mixin grid($responsive-postfix) {
  .o-grid[cols#{$responsive-postfix}="1"] { --grid-tc: repeat(1, 1fr); }
  .o-grid[cols#{$responsive-postfix}="2"] { --grid-tc: repeat(2, 1fr); }
  .o-grid[cols#{$responsive-postfix}="3"] { --grid-tc: repeat(3, 1fr); }
  .o-grid[cols#{$responsive-postfix}="4"] { --grid-tc: repeat(4, 1fr); }
  .o-grid[cols#{$responsive-postfix}="5"] { --grid-tc: repeat(5, 1fr); }
  .o-grid[cols#{$responsive-postfix}="6"] { --grid-tc: repeat(6, 1fr); }
  .o-grid[cols#{$responsive-postfix}="7"] { --grid-tc: repeat(7, 1fr); }
  .o-grid[cols#{$responsive-postfix}="8"] { --grid-tc: repeat(8, 1fr); }

  /* span=start... */
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="1"] { --grid-cs: 1; }
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="2"] { --grid-cs: 2; }
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="3"] { --grid-cs: 3; }
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="4"] { --grid-cs: 4; }
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="5"] { --grid-cs: 5; }
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="6"] { --grid-cs: 6; }
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="7"] { --grid-cs: 7; }
  .o-grid > .o-grid__item[span#{$responsive-postfix}^="8"] { --grid-cs: 8; }

  /* span=...+width, span=...-end */
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+1"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="1"] {
    --grid-ce: 1;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+2"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-1"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="2"] {
    --grid-ce: 2;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+3"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-2"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="3"] {
    --grid-ce: 3;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+4"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-3"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="4"] {
    --grid-ce: 4;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+5"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-4"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="5"] {
    --grid-ce: 5;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+6"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-5"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="6"] {
    --grid-ce: 6;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+7"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-6"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="7"] {
    --grid-ce: 7;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="+8"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-7"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}="8"] {
    --grid-ce: 8;
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}$="-8"] {
    --grid-ce: 9;
  }

  /* connect vars */
  .o-grid > .o-grid__item[span#{$responsive-postfix}] {
    grid-column-end: span var(--grid-ce);
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}*="+"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}*="-"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}*=".."] {
    grid-column-start: var(--grid-cs);
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}*="-"],
  .o-grid > .o-grid__item[span#{$responsive-postfix}*=".."] {
    grid-column-end: var(--grid-ce);
  }

  .o-grid > .o-grid__item[span#{$responsive-postfix}="row"] {
    grid-column: 1 / -1;
  }
}

.o-grid {
  display: grid !important;
  grid-template-columns: var(--grid-tc);
  --grid-tc: repeat(4, 1fr);
  --grid-cs: 1; /* column start */
  --grid-ce: -1 /* column end */
}

/* o-cell -- cell or column */
.o-grid > .o-grid__item {
  display: block;
  appearance: none;
}

.o-grid--justify-items-center {
  justify-items: center;
}

.o-grid--align-items-center {
  align-items: center;
}

.o-grid__item--justify-end {
  justify-self: end;
}

@each $name, $value in variables.$spacing {
  .o-grid--gap-#{$name} {
    grid-gap: $value;
  }
}

@include responsive.media-query using ($breakpoint){
  @include grid($breakpoint);
}
