<div class='o-container o-container--extra-narrow' data-controller='ajax' data-ajax-loader-value='#js-global-loader'>
  <%= render partial: 'users/settings/form', locals: { user: @user } %>
  <% if is_admin? %>
    <hr />
    <%= render 'settings/form' %>
  <% end %>
</div>
