<h1 class='u-mb-wide'><%= t('text.search_results', query: params[:query]) %></h1>
<h2 class='u-mb-medium'><%= t('label.artists') %></h2>
<%= shelf_grid_tag class: 'u-mb-large' do %>
  <%= render partial: 'artists/artist', collection: @artists, cached: true %>
<% end %>
