<% @song_collections.each do |song_collection| %>
  <li class='list__item pointer-cursor' data-song-collection-id='<%= song_collection.id %>'>
    <span class='list__item__content'>
      <span class='list__item__info list__item__info--main'>
        <%= song_collection.name %>
      </span>
    </span>
  </li>
<% end %>
