<% if @songs.empty? %>
  <%= empty_alert_tag has_icon: true %>
<% else %>
  <div class='display__medium-width' data-controller='playlist-songs infinite-scroll' data-infinite-scroll-next-url='<%= pagy_next_url(@pagy) %>'>
    <ul id='js-songs-content' class='list list--dark-border' data-action='click->playlist-songs#actionHandler'>
      <%= render partial: 'song', collection: @songs, cached: true %>
    </ul>
    <div data-target='infinite-scroll.trigger' class='display__justify-align-center'>
      <% if @pagy.next %>
        <%= loader_tag expand: true %>
      <% end %>
    </div>
  </div>
<% end %>
