<% page_title_tag t('label.songs') %>

<% if @songs.empty? %>
  <div class='u-mt-wide'>
    <%= empty_alert_tag has_icon: true, has_overlay: false %>
  </div>
<% else %>
<div class='o-container o-container--large'>
  <h1><%= t('label.songs') %></h1>
  <%= render partial: 'songs/table', locals: { songs: @songs, pagy: @pagy } %>
</div>
<% end %>
