.bg-gradient {
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.75)), linear-gradient(var(--purple-light), var(--purple-light));
}

.hidden {
  display: none !important;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer-cursor {
  cursor: pointer;
}

.monospace-font {
  font-family: var(--monospace-fonts);
}

.position-relative {
  position: relative;
}

.noscroll {
  overflow: hidden !important;
}
