.bg-gradient {
  background: var(--gradient-bg-color);
}

.hidden {
  display: none !important;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer-cursor {
  cursor: pointer;
}

.monospace-font {
  font-family: var(--monospace-fonts);
}

.position-relative {
  position: relative;
}

.noscroll {
  overflow: hidden !important;
}
