.bg-gradient {
  background: linear-gradient(0deg, var(--purple-light), var(--black-light));
}

.hidden {
  display: none !important;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pointer-cursor {
  cursor: pointer;
}
