.layout {
  height: 100vh;
}

.layout__main {
  width: 75%;
  overflow-y: auto;
  padding: 0 20px;
}

.layout__sidebar {
  background-color: var(--layout-sidebar-bg-color);
  width: 25%;
  display: flex;
  flex-direction: column;
}
