html {
  box-sizing: border-box;
  font-size: var(--font-size-md);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--black-light);
  font-family: var(--font-family);
  color: var(--white);
}

.turbolinks-progress-bar {
  background-color: var(--purple);
}
