html {
  box-sizing: border-box;
  font-size: var(--defaultFontSize);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--mainBackgroundColor);
  font-family: var(--defaultFontFamily);
  color: var(--mainFontColor);
}

.turbolinks-progress-bar {
  background-color: var(--mainBackgroundColor);
}
