html {
  box-sizing: border-box;
  font-size: var(--font-size-md);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans-serif-fonts);
  background-color: var(--body-bg-color);
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--body-color);
}

a:hover {
  color: var(--link-active-color);
}

.turbolinks-progress-bar {
  background-color: var(--progress-bar-bg-color);
}
