@media screen and (min-width: 1880px) {
  .layout__sidebar {
    width: 380px;
  }

  .layout__main {
    margin-left: 380px;
  }

  .cards {
    max-width: 1260px;
  }

  .cards__item {
    width: calc(100% / 7 - 30px);
  }
}

@media screen and (max-width: 1880px) {
  .layout__sidebar {
    width: 370px;
  }

  .layout__main {
    margin-left: 370px;
  }

  .cards {
    max-width: 1080px;
  }

  .cards__item {
    width: calc(100% / 6 - 30px);
  }
}

@media screen and (max-width: 1630px) {
  .layout__sidebar {
    width: 360px;
  }

  .layout__main {
    margin-left: 360px;
  }

  .cards {
    max-width: 900px;
  }

  .cards__item {
    width: calc(100% / 5 - 30px);
  }
}

@media screen and (max-width: 1380px) {
  .layout__sidebar {
    width: 350px;
  }

  .layout__main {
    margin-left: 350px;
  }

  .layout__main__content {
    margin-left: 30px;
    margin-right: 30px;
  }

  .cards {
    max-width: 720px;
  }

  .cards__item {
    width: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 1130px) {
  .layout__sidebar {
    width: 340px;
  }

  .layout__main {
    margin-left: 340px;
  }

  .layout__main__content {
    margin-left: 25px;
    margin-right: 25px;
  }

  .cards {
    max-width: 540px;
  }

  .cards__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 930px) {
  .layout__sidebar {
    width: 330px;
  }

  .layout__main {
    margin-left: 330px;
  }

  .layout__main__content {
    margin-left: 20px;
    margin-right: 20px;
  }

  .cards {
    max-width: 360px;
  }

  .cards__item {
    width: calc(100% / 2 - 30px);
  }

  .songs__artist {
    display: none;
  }

  .songs__album {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .layout__sidebar {
    position: fixed;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
  }

  .layout__main {
    margin-left: 0;
  }

  .layout__main__footer {
    display: block !important;
  }

  .layout__main__content {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 70px;
  }

  .player__footer {
    display: block !important;
  }

  .cards {
    max-width: 540px;
  }

  .cards__item {
    width: calc(100% / 3 - 30px);
  }

  .display__medium-width {
    max-width: 500px;
  }

  .songs__album {
    display: none;
  }

  .songs__name {
    min-width: 50%;
  }

  .songs__artist {
    min-width: 40%;
  }

  .player__control,
  .player .heading {
    padding: 20px;
  }
}

@media screen and (max-width: 560px) {
  .cards {
    max-width: 340px;
  }

  .cards__item {
    width: calc(100% / 2 - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }

  .layout__search-bar {
    padding: 15px 10px;
  }

  .layout__search-bar .input {
    width: 260px;
  }

  .layout__nav-bar {
    max-width: 340px;
    padding-top: 6px;
  }

  .display__medium-width,
  .display__small-width,
  .dialog,
  .box--large {
    max-width: 325px;
  }

  .line {
    margin: 30px 0;
  }

  .heading--expand {
    margin: 30px 0 20px;
  }

  .songs__artist {
    display: none;
  }

  .songs__album {
    display: none;
  }

  .playlist__nav {
    padding: 15px 15px 0;
  }

  .playlist__content {
    margin: 15px;
  }

  .list__item {
    padding: 10px 0;
  }

  .player .image--small {
    width: 50px;
    height: 50px;
  }

  .player .heading {
    display: flex;
    align-items: center;
  }

  .player .heading,
  .player__control {
    padding: 12px 15px;
  }

  .player .heading__body__text {
    display: none;
  }

  .player .heading__body__text.heading__body__text--main {
    display: block;
  }

  .player__timer__item {
    margin-right: 2px;
  }
}

@media screen and (max-width: 360px) {
  .image {
    width: 135px;
    height: 135px;
  }

  .cards {
    max-width: 310px;
  }

  .cards__item {
    width: calc(100% / 2 - 20px);
    margin-bottom: 30px;
  }

  .layout__search-bar .input {
    width: 220px;
  }

  .layout__search-bar .input input {
    width: 75%;
  }

  .layout__nav-bar {
    max-width: 300px;
  }

  .display__medium-width,
  .display__small-width,
  .dialog,
  .box {
    max-width: 290px;
  }

  .player__timer__item {
    margin-right: 5px;
  }

  .heading__body__text--main {
    margin-bottom: 10px;
  }

  .heading__body__text {
    margin-bottom: 5px;
  }
}
