:root {
  --purple-dark: #2b1833;
  --purple: #77428d;
  --purple-light: #a15abf;

  --black: #080808;
  --black-light: #1a1a1a;
  --black-lighter: #333;

  --grey: #8c8c8c;
  --grey-light: #bfbfbf;

  --white: #fff;
  --red: #a61637;
  --green: #26a616;

  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-sm: 14px;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;
}
