:root {
  /* Colors */
  --purple-dark: #361e40;
  --purple: #77428d;
  --purple-light: #a15abf;

  --black-dark: #000;
  --black: #121212;
  --black-light: #212121;
  --black-lighter: #3b3b3b;

  --grey: #8c8c8c;
  --grey-light: #bfbfbf;

  --white: #fff;
  --red: #a61637;
  --green: #23a650;

  /* Fonts */
  --font-size: 16px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif;

  /* Border radius */
  --border-radius: 4px;
  --border-radius-sm: 2px;
  --border-radius-lg: 8px;
  --border-radius-round: 50%;

  /* Body */
  --body-bg-color: var(--black-light);
  --body-color: var(--white);

  /* Layout */
  --layout-sidebar-bg-color: var(--black);
  --layout-header-bg-color: var(--black-light);
  --layout-header-border-color: var(--black);

  /* Progress bar */
  --progress-bar-bg-color: var(--purple);

  /* Avatar */
  --avatar-border-radius: var(--border-radius-round);
  --avatar-border-color: var(--grey-light);

  /* Button */
  --btn-border-radius: var(--border-radius);
  --btn-color: var(--white);
  --btn-primary-bg-color: var(--purple);

  /* Form */
  --form-border-radius: var(--border-radius-lg);
  --form-bg-color: var(--black-light);
  --form-input-border-radius: var(--border-radius);

  /* Noty flash message */
  --noty-bar-border-radius: var(--border-radius);
  --noty-success-bg-color: var(--green);
  --noty-error-bg-color: var(--red);

  /* Tab */
  --tab-color: var(--grey-light);
  --tab-active-color: var(--purple-light);

  /* Player */
  --player-progress-bg-color: var(--black-light);
  --player-progress-color: var(--purple);
  --player-favorite-color: var(--red);

  /* Playlist */
  --playlist-color: var(--grey-light);
  --playlist-bg-color: var(--black);
  --playlist-border-color: var(--black-light);
  --playlist-active-color: var(--purple-light);
  --playlist-item-primary-bg-color: var(--black-light);
  --playlist-item-primary-border-radius: var(--border-radius);

  /* Input */
  --input-bg-color: var(--black-lighter);
  --input-border-radius: var(--border-radius);
  --input-color: var(--white);
  --input-icon-color: var(--black);

  /* Card */
  --card-title-color: var(--white);
  --card-text-color: var(--grey);

  /* Spinner */
  --spinner-bg-color: var(--purple);

  /* Dropdown */
  --dropdown-bg-color: var(--black-lighter);
  --dropdown-active-color: var(--grey);
  --dropdown-color: var(--white);
  --dropdown-border-radius: var(--border-radius);
}
