/* Light theme */
html {
  /* Colors */
  --purple-dark: #361e40;
  --purple: #77428d;
  --purple-light: #a15abf;

  --black: #121212;
  --black-light: #3b3b3b;
  --black-lighter: #595959;
  --black-lightest: #8c8c8c;

  --grey: #a6a6a6;
  --grey-light: #bfbfbf;
  --grey-lighter: #d9d9d9;
  --grey-lightest: #ededed;

  --white: #fffffb;
  --red: #a61637;
  --green: #23a650;

  --link-active-color: var(--purple);
  --gradient-bg-color: linear-gradient(rgb(255, 255, 255, 0.85), rgba(255, 255, 255, 0.65)), linear-gradient(var(--purple), var(--purple));

  /* Body */
  --body-bg-color: var(--white);
  --body-color: var(--black);

  /* Layout */
  --layout-sidebar-bg-color: var(--grey-lightest);
  --layout-sidebar-input-bg-color: var(--grey-light);
  --layout-header-bg-color: var(--white);
  --layout-header-border-color: var(--grey-lighter);

  /* Progress bar */
  --progress-bar-bg-color: var(--purple);

  /* Button */
  --btn-color: var(--white);
  --btn-primary-bg-color: var(--purple);

  /* Flash message */
  --flash-success-bg-color: var(--green);
  --flash-error-bg-color: var(--red);

  /* Tab */
  --tab-color: var(--black);
  --tab-active-color: var(--purple);

  /* List */
  --list-color: var(--black-lightest);
  --list-main-color: var(--black);
  --list-border-color: var(--grey-lighter);
  --list-active-color: var(--purple);
  --list-border-dark-color: var(--grey-lighter);

  /* Input */
  --input-bg-color: var(--grey-lighter);
  --input-color: var(--black);
  --input-icon-color: var(--black-lightest);

  /* Card */
  --card-title-color: var(--black);
  --card-text-color: var(--black-lightest);

  /* Loader */
  --loader-bg-color: var(--purple);

  /* Dropdown */
  --dropdown-bg-color: var(--white);
  --dropdown-active-color: var(--grey-light);
  --dropdown-color: var(--black);

  /* Dialog */
  --dialog-bg-color: var(--white);
  --dialog-header-bg-color: var(--grey-lighter);
  --dialog-header-color: var(--black);

  /* Overlay */
  --overlay-bg-color: var(--black);

  /* Line */
  --line-color: var(--grey-lightest);

  /* Heading */
  --heading-text-color: var(--black-lighter);
  --heading-text-main-color: var(--black);

  /* Box */
  --box-bg-color: var(--white);
  --box-shadow-color: var(--grey-light);

  /* Playlist page */
  --playlist-bg-color: var(--grey-lightest);
  --playlist-heading-bg-color: var(--grey-lighter);
  --playlist-nav-border-color: var(--grey-light);

  /* Player page */
  --player-progress-bg-color: var(--grey-lighter);
  --player-progress-hover-bg-color: var(--grey-lighter);
  --player-progress-color: var(--purple);
  --player-favorite-color: var(--red);
  --player-color: var(--black-lighter);
  --player-bg-color: var(--grey-lightest);
  --player-footer-bg-color: var(--white);
  --player-timer-color: var(--black-lighter);
}

/* Dark theme */
html[data-color-scheme='dark'] {
  /* Colors */
  --purple-dark: #361e40;
  --purple: #77428d;
  --purple-light: #a15abf;

  --black-dark: #000;
  --black: #121212;
  --black-light: #212121;
  --black-lighter: #3b3b3b;

  --grey: #8c8c8c;
  --grey-light: #bfbfbf;
  --grey-lighter: #ededed;

  --white: #fffffb;
  --red: #a61637;
  --green: #23a650;

  --link-active-color: var(--purple-light);
  --gradient-bg-color: linear-gradient(rgb(1, 0, 0), rgba(0, 0, 0, 0.75)), linear-gradient(var(--purple-light), var(--purple-light));

  /* Body */
  --body-bg-color: var(--black-light);
  --body-color: var(--white);

  /* Layout */
  --layout-sidebar-bg-color: var(--black);
  --layout-sidebar-input-bg-color: var(--black-lighter);
  --layout-header-bg-color: var(--black-light);
  --layout-header-border-color: var(--black-dark);

  /* Progress bar */
  --progress-bar-bg-color: var(--purple);

  /* Button */
  --btn-color: var(--white);
  --btn-primary-bg-color: var(--purple);

  /* Flash message */
  --flash-success-bg-color: var(--green);
  --flash-error-bg-color: var(--red);

  /* Tab */
  --tab-color: var(--white);
  --tab-active-color: var(--purple-light);

  /* List */
  --list-color: var(--grey);
  --list-main-color: var(--grey-lighter);
  --list-border-color: var(--black-light);
  --list-active-color: var(--purple-light);
  --list-border-dark-color: var(--black);

  /* Input */
  --input-bg-color: var(--black-lighter);
  --input-color: var(--white);
  --input-icon-color: var(--black);

  /* Card */
  --card-title-color: var(--grey-lighter);
  --card-text-color: var(--grey);

  /* Loader */
  --loader-bg-color: var(--purple);

  /* Dropdown */
  --dropdown-bg-color: var(--black-lighter);
  --dropdown-active-color: var(--grey);
  --dropdown-color: var(--white);

  /* Dialog */
  --dialog-bg-color: var(--black);
  --dialog-header-bg-color: var(--grey);
  --dialog-header-color: var(--black);

  /* Overlay */
  --overlay-bg-color: var(--black-light);

  /* Line */
  --line-color: var(--black);

  /* Heading */
  --heading-text-color: var(--grey-light);
  --heading-text-main-color: var(--white);

  /* Box */
  --box-bg-color: var(--black-light);
  --box-shadow-color: var(--black-dark);

  /* Playlist page */
  --playlist-bg-color: var(--black);
  --playlist-heading-bg-color: var(--black-light);
  --playlist-nav-border-color: var(--black-dark);

  /* Player page */
  --player-progress-bg-color: var(--black-light);
  --player-progress-hover-bg-color: var(--black-lighter);
  --player-progress-color: var(--purple);
  --player-favorite-color: var(--red);
  --player-color: var(--grey);
  --player-bg-color: var(--black);
  --player-footer-bg-color: var(--black-light);
  --player-timer-color: var(--grey-lighter);
}
