<div data-controller='infinite-scroll' data-infinite-scroll-container='.layout__main' data-infinite-scroll-next-url='<%= pagy_next_url(@pagy) %>'>
  <div class='display__space-between display__flex-wrap' id='js-albums-content'>
    <%= render 'albums' %>
  </div>
  <div data-target='infinite-scroll.trigger'>
    <% if @pagy.next %>
      <%= spinner_tag %>
    <% end %>
  </div>
</div>
