<div data-controller='infinite-scroll' data-infinite-scroll-container='.layout__main' data-infinite-scroll-next-url='<%= pagy_next_url(@pagy) %>'>
  <div class='cards' id='js-albums-content'>
    <%= render partial: 'albums', locals: { albums: @albums } %>
  </div>
  <div data-target='infinite-scroll.trigger' class='display__justify-align-center'>
    <% if @pagy.next %>
      <%= loader_tag %>
    <% end %>
  </div>
</div>
