<div data-controller='infinite-scroll' data-infinite-scroll-container='.playlist__container' data-infinite-scroll-next-url='<%= next_url %>'>
  <ul class='list' id='js-playlist-list-content' data-action='click->playlist-songs#actionHandler'>
    <%= render partial: 'song', collection: @songs, cached: true %>
  </ul>
  <div data-target='infinite-scroll.trigger' class='display__justify-align-center'>
    <% if @pagy.next %>
      <%= loader_tag expand: true %>
    <% end %>
  </div>
</div>
