<div data-controller='infinite-scroll' data-infinite-scroll-next-url='<%= next_url %>'>
  <ul data-controller='sortable' class='c-list c-list--border-none' id='js-playlist-list-content' data-action='click->playlist-songs#actionHandler'>
    <%= render partial: 'song', collection: @songs, cached: true %>
  </ul>
  <div data-target='infinite-scroll.trigger' class='o-flex o-flex--justify-center u-my-small'>
    <% if @pagy.next %>
      <%= loader_tag %>
    <% end %>
  </div>
</div>
