.button {
  display: inline-block;
  border-radius: var(--btn-border-radius);
  border: none;
  padding: 6px 13px;
  color: var(--btn-color);
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

a.button:hover {
  color: var(--btn-color);
}

.button--primary {
  background: var(--btn-primary-bg-color);
}

.button--small {
  padding: 5px 6px;
}

.button--full-width {
  width: 100%;
}
