.button {
  border-radius: 4px;
  border: none;
  padding: 10px 12px;
  color: var(--white);
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.9);
}

.button--primary {
  background: var(--purple);
}
