.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  z-index: 1000;
  background: var(--dialog-bg-color);
  border-radius: var(--dialog-border-radius);
}

.dialog__header {
  padding: 12px 20px;
  background: var(--dialog-header-bg-color);
  color: var(--dialog-header-color);
  border-top-left-radius: var(--dialog-border-radius);
  border-top-right-radius: var(--dialog-border-radius);
}

.dialog__title {
  margin: 0;
  margin-right: 15px;
  font-size: var(--dialog-title-font-size);
}

.dialog__content {
  padding: 12px 20px;
  overflow-y: auto;
  min-height: 50px;
  max-height: calc(100vh - 300px);
}

.dialog .overlay {
  background: var(--dialog-bg-color);
}
