.c-dialog {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgb(var(--dialog-bg-color));
  border-radius: var(--dialog-border-radius);
}

.c-dialog__header {
  padding: var(--spacing-narrow) var(--spacing-small);
  background: rgb(var(--dialog-header-bg-color));
  color: rgb(var(--dialog-header-color));
  border-top-left-radius: var(--dialog-border-radius);
  border-top-right-radius: var(--dialog-border-radius);
}

.c-dialog__content {
  padding: var(--spacing-narrow) var(--spacing-small);
  overflow-y: auto;
  min-height: 50px;
  max-height: calc(100vh - 300px);
}
