.c-dropdown {
  cursor: pointer;
  position: relative;
}

.c-dropdown__list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  min-width: 100px;
  background: rgb(var(--dropdown-bg-color));
  border-radius: var(--dropdown-border-radius);
  color: rgb(var(--dropdown-color));
  box-shadow: 0 1px 6px rgb(var(--dropdown-shadow-color));
}

.c-dropdown__item {
  display: block;
  padding: var(--spacing-narrow);
  white-space: nowrap;
}

a.c-dropdown__item {
  text-decoration: none;
  color: rgb(var(--dropdown-color));
}

.c-dropdown__item:first-child {
  border-top-left-radius: var(--dropdown-border-radius);
  border-top-right-radius: var(--dropdown-border-radius);
}

.c-dropdown__item:last-child {
  border-bottom-left-radius: var(--dropdown-border-radius);
  border-bottom-right-radius: var(--dropdown-border-radius);
}

a.c-dropdown__item:hover,
.c-dropdown__item:hover {
  background: rgb(var(--dropdown-active-color));
  color: rgb(var(--dropdown-color));
}
