.flash {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.flash__content {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
}

.flash__content--success {
  background: var(--green);
}

.flash__content--error {
  background: var(--red);
}
