.heading {
  display: flex;
}

.heading--expand {
  margin: 40px 0 30px;
}

.heading__image {
  margin-right: 30px;
}

.heading__body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2px 0;
}

.heading__body__text {
  margin-bottom: 6px;
  color: var(--heading-text-color);
}

.heading__body__text:only-child {
  margin-bottom: 0;
}

.heading__body__text--main {
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--heading-text-main-color) !important;
  font-weight: bold;
  font-size: var(--heading-text-main-font-size);
}

.heading__body__actions {
  margin-top: auto;
}

.heading__header,
.heading__footer {
  display: flex;
  align-items: center;
}

.heading__header {
  margin-right: 10px;
}

.heading__footer {
  margin-left: auto;
}
