.input {
  display: flex;
  align-items: center;
  background: var(--input-bg-color);
  border-radius: var(--input-border-radius);
  padding: 0 8px;
}

.input input {
  width: 100%;
  background: var(--input-bg-color);
  border: none;
  color: var(--input-color);
  padding: 7px 2px;
  filter: none;
}

.input form {
  width: 100%;
}

.input__icon {
  display: flex;
  color: var(--input-icon-color);
  margin-right: 6px;
}

.input__icon a {
  color: var(--input-icon-color);
}

.input__icon--right {
  margin-left: auto;
  margin-right: 0;
}

.input .loader {
  border-color: transparent;
  border-top-color: var(--input-icon-color);
}
