.c-loader {
  border: 5px solid rgba(var(--loader-bg-color), 0.3);
  border-top: 5px solid rgb(var(--loader-bg-color));
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.c-loader--small {
  height: 22px;
  width: 22px;
  border-width: 3px;
}

.c-loader--large {
  height: 55px;
  width: 55px;
  border-width: 7px;
}
