.loader {
  border: 5px solid color-mod(var(--loader-bg-color) a(30%));
  border-top: 5px solid var(--loader-bg-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.9s linear infinite;
}

.loader--small {
  height: 22px;
  width: 22px;
  border-width: 3px;
}

.loader--large {
  height: 55px;
  width: 55px;
  border-width: 7px;
}

.loader--expand {
  margin: 15px 0;
}
