.loader {
  text-align: center;
  margin: 10px 0;
}

.loader__beat {
  display: inline-block;
  height: 12px;
  width: 12px;
  animation: stretchDelay 0.7s infinite linear;
  animation-fill-mode: both;
  border-radius: 100%;
  margin: 2px;
  background-color: var(--loader-bg-color);
}

.loader--small .loader__beat {
  height: 10px;
  width: 10px;
}

.loader--large .loader__beat {
  height: 14px;
  width: 14px;
}

.loader__beat--add {
  animation-delay: 0s;
}

.loader__beat--even {
  animation-delay: 0.35s;
}
