.logo {
  display: inline-block;
  background: url(../images/logo.svg) no-repeat top left;
  background-size: contain;
  width: 30px;
  height: 30px;
}

.logo--large {
  width: 70px;
  height: 70px;
}
