.c-nav {
  padding: var(--spacing-small) var(--spacing-small) 0;
  box-shadow: 0 1px 0 rgba(var(--nav-border-color), 0.12), 0 1px 3px rgba(var(--nav-border-color), 0.15);
}

.c-nav--primary {
  background: rgba(var(--nav-primary-bg-color), 0.97);
}

@supports (-webkit-backdrop-filter: initial) or (backdrop-filter: initial) {
  .c-nav--primary {
    background: rgba(var(--nav-primary-bg-color), 0.88);
    backdrop-filter: blur(15px);
  }
}
