.playlist {
  padding: 20px;
  overflow: hidden;
}

.playlist__nav {
  margin-bottom: 35px;
}

.playlist__content {
  overflow-y: auto;
}

.playlist__item {
  padding: 12px 0;
  border-bottom: 1px solid var(--playlist-border-color);
  cursor: pointer;
  color: var(--playlist-color);
  font-size: var(--font-size-sm);
}

.playlist__item__detail {
  margin-right: 15px;
}

.playlist__item__detail__main {
  color: var(--white);
  margin-bottom: 4px;
}

.playlist__item:hover .playlist__item__detail__main {
  color: var(--playlist-active-color);
}
