.player {
  padding-top: 15px;
}

.player__control {
  padding: 28px 20px;
}

.player__control__minor {
  color: var(--grey);
}

.player__control__main {
  margin: 0 25px;
}

.player__info {
  padding: 25px 20px;
}

.player__info__cover {
  margin-right: 30px;
}

.player__info__cover img {
  width: 100px;
  height: 100px;
}

.player__info__detail {
  color: var(--grey);
  margin-bottom: 4px;
}

.player__info__detail--main {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 12px;
}

.player__timer {
  margin: 8px 0 0;
}

.player__timer__item {
  margin-right: 10px;
}

.player__timer__item--main {
  color: var(--grey-light);
}

.player__progress {
  height: 2px;
  border: 0 none;
  background: var(--player-progress-bg-color);
}

.player__progress::-moz-progress-bar {
  background: var(--player-progress-color);
}

.player__progress::-webkit-progress-bar {
  background: transparent;
}

.player__progress::-webkit-progress-value {
  background: var(--player-progress-color);
}
