.playlist {
  overflow: hidden;
  position: relative;
}

.playlist__nav {
  padding: 20px 20px 0;
  border-bottom: 1px solid var(--black-dark);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--playlist-bg-color);
}

.playlist__content {
  overflow-y: auto;
  padding: 60px 20px 0;
}

.playlist__item {
  padding: 12px 0;
  cursor: pointer;
  border-bottom: 1px solid var(--playlist-border-color);
  color: var(--playlist-color);
  font-size: var(--font-size-sm);
}

.playlist__item__detail {
  margin-right: 15px;
}

.playlist__item__detail__main {
  color: var(--white);
  margin-bottom: 4px;
}

.playlist__item:hover .playlist__item__detail__main {
  color: var(--playlist-active-color);
}
