.search-bar {
  padding: 20px 0;
}

.search-bar__container {
  max-width: 350px;
  margin: auto;
  background: var(--search-bar-bg-color);
  padding: 5px 8px;
  border-radius: var(--search-bar-border-radius);
  color: var(--black);
}

.search-bar__container input {
  width: 100%;
  margin-left: 6px;
  background: var(--search-bar-bg-color);
  border: none;
  color: var(--search-bar-color);
}
