.songs__name {
  min-width: 30%;
}

.songs__artist {
  min-width: 30%;
}

.songs__album {
  min-width: 30%;
}

.songs__actions {
  min-width: 10%;
}

@media (--small) {
  .songs__artist {
    display: none;
  }

  .songs__album {
    display: none;
  }
}

@media (--extra-small) {
  .songs__album {
    display: none;
  }

  .songs__name {
    min-width: 50%;
  }

  .songs__artist {
    min-width: 40%;
  }
}

@media (--narrow) {
  .songs__artist {
    display: none;
  }

  .songs__album {
    display: none;
  }
}
