<div id="turbo-media-syncing-button">
  <% if syncing %>
    <%= button_to(
          t("button.syncing"),
          false,
          class: "c-button c-button--secondary",
          data: {"test-id" => "media_sync_button"},
          disabled: true
        ) %>
  <% else %>
    <%= button_to(
        t("button.sync"),
        media_syncing_path,
        class: "c-button c-button--secondary",
        data: {
          "test-id" => "media_sync_button",
          "turbo-submits-with" => t("button.syncing")
        }
      ) %>
  <% end %>
</div>
