<li class='playlist__item display__space-between'>
  <div class='playlist__item__detail'>
    <div class='playlist__item__detail__main'><%= song_collection.name %></div>
  </div>
  <div><%= icon_tag('chevron-right') %></div>
</li>
