$purple-dark: rgb(54, 30, 64);
$purple: rgb(119, 66, 141);
$purple-light: rgb(161, 90, 191);

$white: rgb(255, 255, 251);
$grey-100: rgb(237, 237, 237);
$grey-200: rgb(217, 217, 217);
$grey-300: rgb(191, 191, 191);
$grey-400: rgb(166, 166, 166);
$grey-500: rgb(140, 140, 140);
$grey-600: rgb(89, 89, 89);
$grey-700: rgb(59, 59, 59);
$grey-800: rgb(33, 33, 33);
$grey-900: rgb(18, 18, 18);
$black: rgb(0, 0, 0);

$red: rgb(166, 22, 55);
$green: rgb(35, 166, 80);
