@use "sass:color";

$purple-dark: rgb(54, 30, 64);
$purple: rgb(119, 66, 141);
$purple-light: rgb(161, 90, 191);

$white: rgb(255, 255, 251);
$grey-100: rgb(237, 237, 237);
$grey-200: rgb(217, 217, 217);
$grey-300: rgb(191, 191, 191);
$grey-400: rgb(166, 166, 166);
$grey-500: rgb(140, 140, 140);
$grey-600: rgb(89, 89, 89);
$grey-700: rgb(59, 59, 59);
$grey-800: rgb(33, 33, 33);
$grey-900: rgb(18, 18, 18);
$black: rgb(0, 0, 0);

$red: rgb(166, 22, 55);
$green: rgb(35, 166, 80);

@mixin light-theme {
  --link-active-color: #{$purple};
  --gradient-bg-color: linear-gradient(#{color.change($white, $alpha: 0.85)}, #{color.change($white, $alpha: 0.65)}), linear-gradient(#{$purple}, #{$purple});
  --primary-bg-color: #{$white};

  /* Body */
  --body-bg-color: #{$white};

  /* Text */
  --text-primary-color: #{$grey-900};
  --text-secondary-color: #{$grey-600};

  /* Sidebar */
  --sidebar-bg-color: #{$grey-100};

  /* Progress bar */
  --progress-bar-bg-color: #{$purple};

  /* Button */
  --btn-color: #{$white};
  --btn-primary-bg-color: #{$purple};
  --btn-secondary-bg-color: #{color.change($purple, $alpha: 0.25)};
  --btn-secondary-color: #{$purple-light};
  --btn-outline-color: #{$grey-900};
  --btn-outline-border-color: #{$grey-300};
  --btn-outline-bg-color: #{$grey-100};

  /* Flash message */
  --flash-color: #{$white};
  --flash-success-bg-color: #{$green};
  --flash-error-bg-color: #{$red};

  /* Tab */
  --tab-color: #{$grey-900};
  --tab-active-color: #{$purple};

  /* List */
  --list-border-color: #{$grey-200};
  --list-active-color: #{$purple};
  --list-dragging-placeholder-bg-color: #{$grey-200};
  --list-dragging-bg-color: #{$white};
  --list-dragging-shadow-color: #{$grey-600};
  --list-dragging-shadow: 0 4px 8px 0 #{color.change($grey-600, $alpha: 0.1)}, 0 10px 13px 0 #{color.change($grey-600, $alpha: 0.11)};
  --list-grouped-bg-color: #{$grey-100};

  /* Table */
  --table-border-color: #{$grey-200};
  --table-active-color: #{$purple};
  --table-color: #{$grey-600};

  /* Input */
  --input-bg-color: #{$grey-200};
  --input-color: #{$grey-900};
  --input-icon-color: #{$grey-500};

  /* Loader */
  --loader-bg-color: #{$purple};
  --loader-secondary-bg-color: #{color.change($purple, $alpha: 0.3)};

  /* Dropdown */
  --dropdown-bg-color: #{$white};
  --dropdown-active-color: #{$grey-300};
  --dropdown-color: #{$grey-900};
  --dropdown-shadow-color: #{$grey-300};

  /* Dialog */
  --dialog-bg-color: #{$white};
  --dialog-header-bg-color: #{$grey-200};
  --dialog-header-color: #{$grey-900};

  ::backdrop {
    --dialog-backdrop-color: #{color.change($grey-100, $alpha: 0.9)};
  }

  /* Overlay */
  --overlay-blur-bg-color: #{color.change($grey-100, $alpha: 0.9)};

  /* Hr */
  --hr-color: #{$grey-200};

  /* Action bar */
  --action-bar-bg-color: #{$grey-200};

  /* Nav */
  --nav-shadow: 0 1px 0 #{color.change($grey-300, $alpha: 0.12)}, 0 1px 3px #{color.change($grey-300, $alpha: 0.15)};
  --nav-primary-bg-color: #{color.change($white, $alpha: 0.9)};
  --nav-backdrop-bg-color: #{color.change($white, $alpha: 0.88)};

  /* Player */
  --player-bg-color: #{$grey-200};
  --player-header-bg-color: #{color.change($grey-200, $alpha: 0.65)};
  --player-progress-bg-color: #{$grey-200};
  --player-progress-hover-bg-color: #{$grey-100};
  --player-progress-color: #{$purple};
  --player-control-color: #{$grey-500};
  --player-control-main-color: #{$grey-900};

  /* Badge */
  --badge-bg-color: #{color.change($purple-light, $alpha: 0.2)};
  --badge-color: #{$purple};

  /* Card */
  --card-border-color: #{$grey-200};
  --card-bg-color: #{$grey-100};

  /* Icon */
  --icon-active-color: #{$purple};
  --icon-emphasis-color: #{$red};
}

@mixin dark-theme {
  --link-active-color: #{$purple-light};
  --gradient-bg-color: linear-gradient(#{$black}, #{color.change($black, $alpha: 0.75)}), linear-gradient(#{$purple-light}, #{$purple-light});
  --primary-bg-color: #{$grey-800};

  /* Body */
  --body-bg-color: #{$grey-800};

  /* Text */
  --text-primary-color: #{$white};
  --text-secondary-color: #{$grey-300};

  /* Sidebar */
  --sidebar-bg-color: #{$grey-900};

  /* Progress bar */
  --progress-bar-bg-color: #{$purple};

  /* Button */
  --btn-color: #{$white};
  --btn-primary-bg-color: #{$purple};
  --btn-secondary-bg-color: #{color.change($purple, $alpha: 0.25)};
  --btn-secondary-color: #{$purple-light};
  --btn-outline-color: #{$white};
  --btn-outline-border-color: #{$grey-800};
  --btn-outline-bg-color: #{$grey-700};

  /* Flash message */
  --flash-color: #{$white};
  --flash-success-bg-color: #{$green};
  --flash-error-bg-color: #{$red};

  /* Tab */
  --tab-color: #{$white};
  --tab-active-color: #{$purple-light};

  /* List */
  --list-border-color: #{$grey-800};
  --list-active-color: #{$purple-light};
  --list-dragging-placeholder-bg-color: #{$grey-800};
  --list-dragging-bg-color: #{$black};
  --list-dragging-shadow: 0 4px 8px 0 #{color.change($grey-500, $alpha: 0.1)}, 0 10px 13px 0 #{color.change($grey-500, $alpha: 0.11)};
  --list-grouped-bg-color: #{$grey-900};

  /* Table */
  --table-border-color: #{$grey-900};
  --table-active-color: #{$purple-light};
  --table-color: #{$grey-300};

  /* Input */
  --input-bg-color: #{$grey-700};
  --input-color: #{$white};
  --input-icon-color: #{$grey-900};

  /* Loader */
  --loader-bg-color: #{$purple};
  --loader-secondary-bg-color: #{color.change($purple, $alpha: 0.3)};

  /* Dropdown */
  --dropdown-bg-color: #{$grey-700};
  --dropdown-active-color: #{$grey-500};
  --dropdown-color: #{$white};
  --dropdown-shadow-color: #{$black};

  /* Dialog */
  --dialog-bg-color: #{$grey-900};
  --dialog-header-bg-color: #{$grey-500};
  --dialog-header-color: #{$grey-900};

  ::backdrop {
    --dialog-backdrop-color: #{color.change($grey-800, $alpha: 0.9)};
  }

  /* Overlay */
  --overlay-blur-bg-color: #{color.change($grey-800, $alpha: 0.9)};

  /* Hr */
  --hr-color: #{$grey-900};

  /* Action bar */
  --action-bar-bg-color: #{$grey-800};

  /* Nav */
  --nav-shadow: 0 1px 0 #{color.change($black, $alpha: 0.12)}, 0 1px 3px #{color.change($black, $alpha: 0.15)};
  --nav-primary-bg-color: #{color.change($grey-800, $alpha: 0.9)};
  --nav-backdrop-bg-color: #{color.change($grey-800, $alpha: 0.88)};

  /* Player */
  --player-bg-color: #{$black};
  --player-header-bg-color: #{color.change($black, $alpha: 0.65)};
  --player-progress-bg-color: #{$black};
  --player-progress-hover-bg-color: #{$grey-800};
  --player-progress-color: #{$purple};
  --player-control-color: #{$grey-400};
  --player-control-main-color: #{$white};

  /* Badge */
  --badge-bg-color: #{color.change($purple, $alpha: 0.2)};
  --badge-color: #{$purple-light};

  /* Card */
  --card-border-color: #{$grey-700};
  --card-bg-color: #{$grey-900};

  /* Icon */
  --icon-active-color: #{$purple-light};
  --icon-emphasis-color: #{$red};
}

[data-color-scheme="light"] {
  @include light-theme;
}

[data-color-scheme="dark"] {
  @include dark-theme;
}

@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {
    @include dark-theme;
  }
}
