@use "sass:color";

@mixin light-theme {
  /* Colors */
  $purple-dark: rgb(54, 30, 64);
  $purple: rgb(119, 66, 141);
  $purple-light: rgb(161, 90, 191);

  $black: rgb(18, 18, 18);
  $black-light: rgb(59, 59, 59);
  $black-lighter: rgb(89, 89, 89);
  $black-lightest: rgb(140, 140, 140);

  $grey: rgb(166, 166, 166);
  $grey-light: rgb(191, 191, 191);
  $grey-lighter: rgb(217, 217, 217);
  $grey-lightest: rgb(237, 237, 237);

  $white: rgb(255, 255, 251);
  $red: rgb(166, 22, 55);
  $green: rgb(35, 166, 80);

  --link-active-color: #{$purple};
  --gradient-bg-color: linear-gradient(#{color.change($white, $alpha: 0.85)}, #{color.change($white, $alpha: 0.65)}), linear-gradient(#{$purple}, #{$purple});
  --primary-bg-color: #{$white};

  /* Body */
  --body-bg-color: #{$white};

  /* Text */
  --text-primary-color: #{$black};
  --text-secondary-color: #{$black-lighter};
  --text-red-color: #{$red};

  /* Sidebar */
  --sidebar-bg-color: #{$grey-lightest};

  /* Progress bar */
  --progress-bar-bg-color: #{$purple};

  /* Button */
  --btn-color: #{$white};
  --btn-primary-bg-color: #{$purple};
  --btn-secondary-bg-color: #{color.change($purple, $alpha: 0.25)};
  --btn-secondary-color: #{$purple-light};

  /* Flash message */
  --flash-color: #{$white};
  --flash-success-bg-color: #{$green};
  --flash-error-bg-color: #{$red};

  /* Tab */
  --tab-color: #{$black};
  --tab-active-color: #{$purple};

  /* List */
  --list-border-color: #{$grey-lighter};
  --list-active-color: #{$purple};
  --list-dragging-placeholder-bg-color: #{$grey-lighter};
  --list-dragging-bg-color: #{$white};
  --list-dragging-shadow-color: #{$black-lighter};
  --list-dragging-shadow: 0 4px 8px 0 #{color.change($black-lighter, $alpha: 0.1)}, 0 10px 13px 0 #{color.change($black-lighter, $alpha: 0.11)};
  --list-grouped-bg-color: #{$grey-lightest};

  /* Table */
  --table-border-color: #{$grey-lighter};
  --table-active-color: #{$purple};
  --table-color: #{$black-lighter};

  /* Input */
  --input-bg-color: #{$grey-lighter};
  --input-color: #{$black};
  --input-icon-color: #{$black-lightest};

  /* Loader */
  --loader-bg-color: #{$purple};
  --loader-secondary-bg-color: #{color.change($purple, $alpha: 0.3)};

  /* Dropdown */
  --dropdown-bg-color: #{$white};
  --dropdown-active-color: #{$grey-light};
  --dropdown-color: #{$black};
  --dropdown-shadow-color: #{$grey-light};

  /* Dialog */
  --dialog-bg-color: #{$white};
  --dialog-header-bg-color: #{$grey-lighter};
  --dialog-header-color: #{$black};

  /* Overlay */
  --overlay-blur-bg-color: #{color.change($grey-lightest, $alpha: 0.9)};

  /* Hr */
  --hr-color: #{$grey-lightest};

  /* Action bar */
  --action-bar-bg-color: #{$grey-lighter};

  /* Nav */
  --nav-shadow: 0 1px 0 #{color.change($grey-light, $alpha: 0.12)}, 0 1px 3px #{color.change($grey-light, $alpha: 0.15)};
  --nav-primary-bg-color: #{color.change($white, $alpha: 0.97)};
  --nav-backdrop-bg-color: #{color.change($white, $alpha: 0.88)};

  /* Player */
  --player-bg-color: #{$grey-lighter};
  --player-header-bg-color: #{color.change($grey-lighter, $alpha: 0.65)};
  --player-progress-bg-color: #{$grey-lighter};
  --player-progress-hover-bg-color: #{$grey-lightest};
  --player-progress-color: #{$purple};

  /* Badge */
  --badge-bg-color: #{color.change($purple-light, $alpha: 0.2)};
  --badge-color: #{$purple};

  /* Card */
  --card-border-color: #{$grey-lighter};
  --card-bg-color: #{$grey-lightest};
}

@mixin dark-theme {
  /* Colors */
  $purple-dark: rgb(54, 30, 64);
  $purple: rgb(119, 66, 141);
  $purple-light: rgb(161, 90, 191);

  $black-dark: rgb(0, 0, 0);
  $black: rgb(18, 18, 18);
  $black-light: rgb(33, 33, 33);
  $black-lighter: rgb(59, 59, 59);

  $grey: rgb(140, 140, 140);
  $grey-light: rgb(191, 191, 191);
  $grey-lighter: rgb(237, 237, 237);

  $white: rgb(255, 255, 251);
  $red: rgb(166, 22, 55);
  $green: rgb(35, 166, 80);

  --link-active-color: #{$purple-light};
  --gradient-bg-color: linear-gradient(#{$black-dark}, #{color.change($black-dark, $alpha: 0.75)}), linear-gradient(#{$purple-light}, #{$purple-light});
  --primary-bg-color: #{$black-light};

  /* Body */
  --body-bg-color: #{$black-light};

  /* Text */
  --text-primary-color: #{$white};
  --text-secondary-color: #{$grey-light};
  --text-red-color: #{$red};

  /* Sidebar */
  --sidebar-bg-color: #{$black};

  /* Progress bar */
  --progress-bar-bg-color: #{$purple};

  /* Button */
  --btn-color: #{$white};
  --btn-primary-bg-color: #{$purple};
  --btn-secondary-bg-color: #{color.change($purple, $alpha: 0.25)};
  --btn-secondary-color: #{$purple-light};

  /* Flash message */
  --flash-color: #{$white};
  --flash-success-bg-color: #{$green};
  --flash-error-bg-color: #{$red};

  /* Tab */
  --tab-color: #{$white};
  --tab-active-color: #{$purple-light};

  /* List */
  --list-border-color: #{$black-lighter};
  --list-active-color: #{$purple-light};
  --list-dragging-placeholder-bg-color: #{$black-light};
  --list-dragging-bg-color: #{$black-dark};
  --list-dragging-shadow: 0 4px 8px 0 #{color.change($grey, $alpha: 0.1)}, 0 10px 13px 0 #{color.change($grey, $alpha: 0.11)};
  --list-grouped-bg-color: #{$black};

  /* Table */
  --table-border-color: #{$black};
  --table-active-color: #{$purple-light};
  --table-color: #{$grey-light};

  /* Input */
  --input-bg-color: #{$black-lighter};
  --input-color: #{$white};
  --input-icon-color: #{$black};

  /* Loader */
  --loader-bg-color: #{$purple};
  --loader-secondary-bg-color: #{color.change($purple, $alpha: 0.3)};

  /* Dropdown */
  --dropdown-bg-color: #{$black-lighter};
  --dropdown-active-color: #{$grey};
  --dropdown-color: #{$white};
  --dropdown-shadow-color: #{$black-dark};

  /* Dialog */
  --dialog-bg-color: #{$black};
  --dialog-header-bg-color: #{$grey};
  --dialog-header-color: #{$black};

  /* Overlay */
  --overlay-blur-bg-color: #{color.change($black-light, $alpha: 0.9)};

  /* Hr */
  --hr-color: #{$black};

  /* Action bar */
  --action-bar-bg-color: #{$black-light};

  /* Nav */
  --nav-shadow: 0 1px 0 #{color.change($black-dark, $alpha: 0.12)}, 0 1px 3px #{color.change($black-dark, $alpha: 0.15)};
  --nav-primary-bg-color: #{color.change($black-light, $alpha: 0.97)};
  --nav-backdrop-bg-color: #{color.change($black-light, $alpha: 0.88)};

  /* Player */
  --player-bg-color: #{$black-dark};
  --player-header-bg-color: #{color.change($black-dark, $alpha: 0.65)};
  --player-progress-bg-color: #{$black-dark};
  --player-progress-hover-bg-color: #{$black-light};
  --player-progress-color: #{$purple};

  /* Badge */
  --badge-bg-color: #{color.change($purple, $alpha: 0.2)};
  --badge-color: #{$purple-light};

  /* Card */
  --card-border-color: #{$black-lighter};
  --card-bg-color: #{$black};
}

[data-color-scheme="light"] {
  @include light-theme;
}

[data-color-scheme="dark"] {
  @include dark-theme;
}

@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {
    @include dark-theme;
  }
}
