@use "../tools/functions" as *;

.c-button {
  text-align: center;
  display: inline-block;
  border-radius: border-radius("medium");
  border: none;
  padding: spacing("tiny") spacing("narrow");
  color: var(--btn-color);
  cursor: pointer;
}

.c-button:hover {
  filter: brightness(0.9);
}

a.c-button:hover {
  color: currentcolor;
}

.c-button--primary {
  background: var(--btn-primary-bg-color);
}

.c-button--secondary {
  background: var(--btn-secondary-bg-color);
  color: var(--btn-secondary-color);
}

.c-button--small {
  padding: 2px spacing("tiny");
  font-size: font-size("small");
}

.c-button--outline {
  border-radius: border-radius("large");
  color: var(--btn-outline-color);
  border: 1px solid var(--btn-outline-border-color);
  background: var(--btn-outline-bg-color);
}

.c-button--full-width {
  width: 100%;
}

.c-button[disabled] {
  opacity: 0.6;
}
