@use "../tools/functions" as *;

.c-dropdown {
  cursor: pointer;
  position: relative;
}

.c-dropdown__list {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  min-width: 100px;
  background: var(--dropdown-bg-color);
  border-radius: border-radius("medium");
  color: var(--dropdown-color);
  box-shadow: 0 1px 6px var(--dropdown-shadow-color);
}

.c-dropdown__list--left {
  left: 0;
  right: auto;
}

.c-dropdown__item {
  display: block;
  padding: spacing("narrow");
  white-space: nowrap;
}

a.c-dropdown__item {
  text-decoration: none;
  color: var(--dropdown-color);
}

form.c-dropdown__item {
  padding: 0;
}

form.c-dropdown__item input[type="submit"],
form.c-dropdown__item button[type="submit"] {
  padding: spacing("narrow");
  width: 100%;
  background: var(--dropdown-bg-color);
  border: none;
}

.c-dropdown__item:first-child,
form.c-dropdown__item:first-child input[type="submit"],
form.c-dropdown__item:first-child button[type="submit"] {
  border-top-left-radius: border-radius("medium");
  border-top-right-radius: border-radius("medium");
}

.c-dropdown__item:last-child,
form.c-dropdown__item:last-child input[type="submit"],
form.c-dropdown__item:last-child button[type="submit"] {
  border-bottom-left-radius: border-radius("medium");
  border-bottom-right-radius: border-radius("medium");
}

a.c-dropdown__item:hover,
form.c-dropdown__item:hover input[type="submit"],
form.c-dropdown__item:hover button[type="submit"],
.c-dropdown__item:hover {
  background: var(--dropdown-active-color);
  color: var(--dropdown-color);
}
