.c-icon {
  width: 18px;
  height: 18px;
}

.c-icon--small {
  width: 16px;
  height: 16px;
}

.c-icon--narrow {
  width: 14px;
  height: 14px;
}

.c-icon--large {
  width: 22px;
  height: 22px;
}

.c-icon--active {
  color: var(--icon-active-color);
}

.c-icon--emphasis {
  color: var(--icon-emphasis-color);
}

