@use "../tools/functions" as *;
@use "../settings/variables";

.c-nav {
  padding: spacing("small") spacing("small") 0;
  box-shadow: var(--nav-shadow);
  z-index: variables.$nav-zindex;
}

.c-nav--primary {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: variables.$base-zindex - 1;
    background: var(--nav-primary-bg-color);
  }
}
