@use "../tools/functions" as *;

.c-nav {
  padding: spacing("small") spacing("small") 0;
  box-shadow: var(--nav-shadow);
}

.c-nav--primary {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: -1;
    background: var(--nav-primary-bg-color);
  }
}
