@use "../tools/functions" as *;

.c-search {
  max-width: 380px;
  width: 100%;
  margin: 0 spacing("small");
}

.c-search .c-loader {
  display: none;
}

.c-search.is-loading .c-loader {
  display: revert;
}
