@use "../tools/responsive";

.c-sidebar {
  width: 360px;
  background: var(--sidebar-bg-color);
}

@include responsive.media-query using ($breakpoint) {
  @if $breakpoint == "extra-wide" {
    .c-sidebar {
      width: 380px;
    }
  }

  @if $breakpoint == "wide" {
    .c-sidebar {
      width: 370px;
    }
  }

  @if $breakpoint == "large" {
    .c-sidebar {
      width: 350px;
    }
  }

  @if $breakpoint == "medium" {
    .c-sidebar {
      width: 340px;
    }
  }

  @if $breakpoint == "small" {
    .c-sidebar {
      width: 330px;
    }
  }

  @if $breakpoint == "extra-small" {
    .c-sidebar {
      position: fixed;
      bottom: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      visibility: hidden;
      opacity: 0;
    }

    .c-sidebar.is-expanded {
      z-index: 100;
      visibility: visible;
      height: 100%;
      opacity: 1;
    }
  }
}
