@layer components {
  .c-badge {
    display: inline-block;
    border-radius: var(--border-radius-large);
    background-color: var(--badge-bg-color);
    color: var(--badge-color);
    font-size: var(--font-size-small);
    padding: 2px 13px;
    font-weight: 500;
  }
}
