@layer components {
  .c-card {
    width: 100%;
  }

  .c-card--border {
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-radius-2);
    background-color: var(--card-bg-color);
  }

  .c-card--border .c-card__body {
    padding: var(--spacing-2);
  }

  .c-card__image {
    display: block;
    margin-bottom: var(--spacing-2);
  }

  .c-card__image,
  .c-card__image img {
    border-radius: var(--border-radius-2);
  }

  .c-card__body__title {
    margin-bottom: var(--spacing-2);
    font-size: var(--font-size-3);
  }

  .c-card__body__text {
    display: block;
    margin-bottom: var(--spacing-1);
  }

  .c-card__body__text:last-child {
    margin-bottom: 0;
  }

  .c-card--horizontal {
    display: flex;

    .c-card__image {
      margin-right: var(--spacing-4);
    }

    .c-card__body {
      flex-grow: 1;
      width: 0;
    }
  }

  @media (max-width: 560px) {
    .c-card--center\@narrow {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .c-card__image {
        margin: 0 0 var(--spacing-3);
      }

      .c-card__body {
        width: auto;
      }
    }
  }
}
