@layer components {
  .c-search {
    max-width: 380px;
    width: 100%;
    margin: 0 var(--spacing-3);
  }

  .c-search .c-loader {
    display: none;
  }

  .c-search.is-loading .c-loader {
    display: revert;
  }
}
