@layer components {
  .c-tab {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .c-tab__item {
    margin-right: var(--spacing-3);
    border-radius: var(--border-radius-4);

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--tab-hover-bg-color);
    }
  }


  .c-tab__item a {
    display: inline-block;
    padding: var(--spacing-1) var(--spacing-2);
    color: var(--tab-color);
    text-decoration: none;
  }

  .c-tab__item.is-active a {
    color: var(--tab-active-color);
  }

  .c-tab__item.is-active {
    background-color: var(--tab-active-bg-color);
  }
}
