<h1 class='u-mb-wide'><%= t('text.search_results', query: params[:query]) %></h1>
<h2 class='u-mb-medium'><%= t('label.albums') %></h2>
<%= shelf_grid_tag class: 'u-mb-large' do %>
  <%= render partial: 'albums/album', collection: @albums, cached: true %>
<% end %>
