<h1><%= t("label.search_results_for", query: params[:query]) %></h1>
<h2><%= t("label.albums") %></h2>
<div class='o-grid o-grid--shelf u-mb-large'>
  <%= render partial: "albums/album", collection: @albums %>
</div>
