<h1 class='u-mb-wide'><%= t('text.search_results', query: params[:query]) %></h1>
<h2 class='u-mb-medium'><%= t('label.albums') %></h2>
<div class='o-grid o-grid--gap-medium u-mb-large' cols@narrow='2' cols@extra-small='3' cols@small='2' cols@medium='3' cols@large='4' cols@extra-large='5' cols@wide='6' cols@extra-wide='7'>
  <%= render partial: 'albums/album', collection: @albums, cached: true %>
</div>
