<div class='o-grid__item c-card c-card--border'>
  <div class='c-card__body'>
    <%= link_to playlist_songs_path(playlist), class: "o-flex o-flex--align-center" do %>
      <% if playlist.favorite? %>
        <%= icon_tag("heart", emphasis: true) %>
      <% else %>
        <%= icon_tag("queue-music") %>
      <% end %>
      <span class='u-text-truncate u-mr-narrow u-ml-tiny'><%= playlist.name %></span>
    <% end %>
  </div>
</div>
