<li>
  <%= link_to playlist_songs_path(playlist), remote: true, class: 'list__item', data: { show_loader: true } do %>
    <span class='list__item__content'>
      <span class='list__item__info list__item__info--main'>
        <%= playlist.name %>
      </span>
    </span>
    <span class='list__item__content list__item__content--minor'>
      <%= icon_tag('chevron-right') %>
    </span>
  <% end %>
</li>
