<% if @playlist.empty? %>
  <%= empty_alert_tag %>
<% else %>
  <div data-controller='playlist' data-playlist-id='current'>
    <%= render partial: 'heading', locals: { playlist: @playlist, id: 'current' } %>
    <%= render partial: 'list', locals: { songs: @songs, pagy: @pagy, next_url: "#{@pagy.next ? '/playlist/current?page=2' : ''}" } %>
  </div>
<% end %>
