<div data-controller='infinite-scroll' data-infinite-scroll-container='.playlist__content' data-infinite-scroll-next-url='<%= next_url %>'>
  <ul class='list' id='js-playlist-list-content' data-action='click->playlist#actionHandler'>
    <%= render partial: 'playlist/songs', locals: { songs: songs }%>
  </ul>
  <div data-target='infinite-scroll.trigger'>
    <% if pagy.next %>
      <%= loader_tag %>
    <% end %>
  </div>
</div>
