<% if @playlist.empty? %>
  <%= empty_alert_tag %>
<% else %>
  <div data-controller='playlist' data-playlist-id='<%= params[:id] %>'>
    <%= render partial: 'heading', locals: { playlist: @playlist, id: params[:id] } %>
    <%= render partial: 'list', locals: { songs: @songs, pagy: @pagy, next_url: pagy_next_url(@pagy) } %>
  </div>
<% end %>
