<div class='footer'>
  <div data-controller='player' id='js-player' class='player display__full-height display__space-between' data-turbolinks-permanent>
    <div class='player__control display__full-height display__justify-align-center'>
      <span data-action='click->player#previous'>
        <span data-controller='icon' data-icon-type='rewind' class='icon icon--medium'></span>
      </span>
      <span data-target='player.mainButton' data-action='click->player#togglePlay' class='player__control__main'>
        <span data-controller='icon' data-icon-type='play' class='icon icon--large player__control__play-button'></span>
        <span data-controller='icon' data-icon-type='pause' class='icon icon--large player__control__pause-button'></span>
      </span>
      <span data-action='click->player#next'>
        <span data-controller='icon' data-icon-type='fast-forward' class='icon icon--medium'></span>
      </span>
    </div>
    <div class='player__info display__full-height display__full-width hidden' data-target='player.info'>
      <div class='display__space-between display__full-height'>
        <div class='player__info__image'>
          <img data-controller='image' data-target='player.albumImage' data-action='error->image#loadDefault' data-image-type='album' />
        </div>
        <div class='display__full-width'>
          <div class='display__space-between'>
            <div class='display__align-baseline'>
              <div class='player__info__song-name' data-target='player.songName'></div>
              <div class='player__info__artist-name' data-target='player.artistName'></div>
            </div>
            <div class='display__align-center'>
              <span class='player__info__song-timer' data-target='player.songTimer'></span>
              <span>/</span>
              <span class='player__info__song-duration' data-target='player.songDuration'></span>
            </div>
          </div>
          <progress data-target='player.progress' class='player__progress display__full-width' max='100'></progress>
        </div>
      </div>
    </div>
    <div class='player__setting display__full-height display__align-center'>
      <span data-controller='icon' data-icon-type='volume-2' class='icon icon--medium'></span>
      <input
        data-target='player.volume'
        data-action='change->player#changeVolume'
        type='range'
        class='player__setting__volume'
        min='0'
        max='1'
        step='any' />
    </div>
  </div>
</div>
