<% content_for :body do %>
  <div class='wrapper'>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/main' do %>
      <%= yield %>
    <% end %>
  </div>
<% end %>

<%= render template: 'layouts/base' %>
