<!DOCTYPE html>
<html>
  <head>
    <title>BlackCandy</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
