<!DOCTYPE html>
<html>
  <head>
    <title>Black Candy</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= content_for?(:body) ? yield(:body) : yield %>
  </body>
</html>
