<% content_for :body do %>
  <%= render "shared/flash" %>
  <div class='o-flex o-flex--justify-center o-flex--align-center u-vh-100 u-bg-gradient'>
    <div class='o-container o-container--extra-narrow  u-w-100 u-mx-small u-bg-primary u-px-small u-py-large u-border-shadow u-border-radius-large'>
      <div class='u-mb-large u-text-align-center'>
        <span class='c-logo'></span>
      </div>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/base" %>
